:root {
  --terra-badge-fontSize--tiny: 0.5rem;
  --terra-badge-fontSize--small: 0.8rem;
  --terra-badge-fontSize--medium: 1rem;
  --terra-badge-fontSize--large: 1.4rem;
  --terra-badge-fontSize--huge: 1.7rem;

  --terra-badge-child--margin: 0.357em;

  --terra-badge-borderRadius: 0.25em;
  --terra-badge-display: inline-block;

  --terra-badge-fontWeight: 700;
  --terra-badge-lineHeight: 1;

  --terra-badge-paddingBottom: 0.5rem;
  --terra-badge-paddingLeft: 0.36rem;
  --terra-badge-paddingRight: 0.36rem;
  --terra-badge-paddingTop: 0.5rem;

  --terra-badge-textTransform: none;

  // Color variants
  --terra-badge-backgroundColor--default: #bcbfc0;
  --terra-badge-color--default: #383f42;

  --terra-badge-backgroundColor--primary: #004c76;
  --terra-badge-color--primary: #fff;

  --terra-badge-backgroundColor--secondary: #4e832b;
  --terra-badge-color--secondary: #fff;

  --terra-badge-backgroundColor--positive: #4e832b;
  --terra-badge-color--positive: #fff;

  --terra-badge-backgroundColor--negative: #bc0203;
  --terra-badge-color--negative: #fff;

  --terra-badge-backgroundColor--warning: #da3b03;
  --terra-badge-color--warning: #fff;

  --terra-badge-backgroundColor--info: #004c76;
  --terra-badge-color--info: #fff;
}

$terra-badge-default-color-scheme: (
  background-color: var(--terra-badge-backgroundColor--default),
  color: var(--terra-badge-color--default)
);

$terra-badge-primary-color-scheme: (
  background-color: var(--terra-badge-backgroundColor--primary),
  color: var(--terra-badge-color--primary)
);

$terra-badge-secondary-color-scheme: (
  background-color: var(--terra-badge-backgroundColor--secondary),
  color: var(--terra-badge-color--secondary)
);

$terra-badge-positive-color-scheme: (
  background-color: var(--terra-badge-backgroundColor--positive),
  color: var(--terra-badge-color--positive)
);

$terra-badge-negative-color-scheme: (
  background-color: var(--terra-badge-backgroundColor--negative),
  color: var(--terra-badge-color--negative)
);

$terra-badge-warning-color-scheme: (
  background-color: var(--terra-badge-backgroundColor--warning),
  color: var(--terra-badge-color--warning)
);

$terra-badge-info-color-scheme: (
  background-color: var(--terra-badge-backgroundColor--info),
  color: var(--terra-badge-color--info)
);
