// Variables
// ==========================
:root {
  --terra-button-child--margin: 0.357em;

  --terra-button-borderWidth: 1px;
  --terra-button-fontWeight: 400;

  --terra-button-paddingTop: 0.286em;
  --terra-button-paddingRight: 0.714em;
  --terra-button-paddingBottom: 0.286em;
  --terra-button-paddingLeft: 0.714em;

  --terra-button-compact-padding-top: 0;
  --terra-button-compact-padding-bottom: 0;

  --terra-button-text-transform: none;

  // Colors
  --terra-button-default--activeBackgroundColor: #4e5558;
  --terra-button-default--activeBorderColor:#4e5558;
  --terra-button-default--activeColor: #fff;
  --terra-button-default--backgroundColor: #d3d4d5;
  --terra-button-default--borderColor: #bcbfc0;
  --terra-button-default--color: #383f42;
  --terra-button-default--disabledBackgroundColor: #e8e9ea;
  --terra-button-default--disabledBorderColor: #d3d4d5;
  --terra-button-default--disabledColor: #909496;
  --terra-button-default--hoverBackgroundColor:#bcbfc0;
  --terra-button-default--hoverColor: #222a2e;
}


$terra-button-default-color-scheme: (
  active-background-color: var(--terra-button-default--activeBackgroundColor),
  active-border-color: var(--terra-button-default--activeBorderColor),
  active-color: var(--terra-button-default--activeColor),
  background-color: var(--terra-button-default--backgroundColor),
  border-color: var(--terra-button-default--borderColor),
  color: var(--terra-button-default--color),
  disabled-background-color: var(--terra-button-default--disabledBackgroundColor),
  disabled-border-color: var(--terra-button-default--disabledBorderColor),
  disabled-color: var(--terra-button-default--disabledColor),
  hover-background-color: var(--terra-button-default--hoverBackgroundColor),
  hover-color: var(--terra-button-default--hoverColor)
);

$terra-button-primary-color-scheme: (
  active-background-color: #004c76,
  active-border-color: #383f42,
  active-color: #fff,
  background-color: #007cc3,
  border-color: #0065a3,
  color: #fff,
  disabled-background-color: #cce9f9,
  disabled-border-color: #a6d9f4,
  disabled-color: #909496,
  hover-background-color: #0065a3,
  hover-color: #fff
);

$terra-button-secondary-color-scheme: (
  active-background-color: #4e5558,
  active-border-color: #4e5558,
  active-color: #fff,
  border-color: #bcbfc0,
  color: #4e5558,
  disabled-border-color: #d3d4d5,
  disabled-color: #909496,
  hover-background-color: #bcbfc0,
  hover-color: #222a2e
);

$terra-button-link-color-scheme: (
  color: #0065a3,
  disabled-color: #909496,
);

$terra-button-font-sizes: (
  tiny: 0.5rem,
  small: 0.8rem,
  medium: 1rem,
  large: 1.4rem,
  huge: 1.7rem
);
