// Arrange
// --------------------------------------------------
// Base arrange styles
// Arranged grouping of related content such as an icon and heading

// Vertically aligns arrange content to the top by default
:local {
  .arrange {
    display: flex;
  }

  .fill {
    display: block;
    flex: 1;
    min-width: 0;
    align-self: flex-start;
  }

  .fill-center {
    composes: fill;
    align-self: center;
  }

  .fill-bottom {
    composes: fill;
    align-self: flex-end;
  }

  .fill-stretch {
    composes: fill;
    align-self: stretch;
  }

  .fit {
    display: flex;
    align-self: flex-start;
  }

  .fit-center {
    composes: fit;
    align-self: center;

  }

  .fit-bottom {
    composes: fit;
    align-self: flex-end;

  }

  .fit-stretch {
    composes: fit;
    align-self: stretch;
  }
}
